{% extends "base.html" %}
{% block title %}Rejestracja{% endblock %}
{% block content %}
<div class="row d-flex justify-content-center">
    <div class="col-md-8 border p-4">
        <h3>Rejestracja</h3>
        {% if messages %}
        <div class="alert alert-danger">{{ messages[0] }}</div>
        {% endif %}
        <form method="post" action="">
            <table>
                <tr>
                    <td>Imię:</td>
                    <td><input name="username" type="text" required class="form-control"></td>
                </tr>
                <tr>
                    <td>adres email:</td>
                    <td><input name="email_address" type="email" required class="form-control"></td>
                </tr>
                <tr>
                    <td>hasło:</td>
                    <td><input name="password" type="password" required class="form-control"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" class="btn btn-success btn-sm">
                        <input type="reset" class="btn btn-danger btn-sm"></td>
                </tr>
            </table>
        </form>
        <a href="/" class="btn btn-success btn-sm"> Strona główna </a>
    </div>
</div>
{% endblock %}